# ignore concatenated js
modext.js

# ignore common root paths for docs and assets
/docs/

# ignore various IDE project files and folders
.idea/
.buildpath
.project
.settings/

# ignore PHP files beginning with test
test*.php
